<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap">

<style>
    .text_G {
        color: #53A051;   
    }

    .bg_G {
        background-color: #53A051;
    }



    .Bbg_G {
        background-color: #53A051;
        transition: background-color 0.3s;
    }
    .Bbg_G:hover {
        background-color: rgba(84, 160, 81, 0.67);
    }


      
    .text_LG {
        color: #EBF5EA;  
    }

    .bg_LG {
        background-color: #EBF5EA;
    }



    .bg_BoxLG{
        background-color: #f4fff3;
    }

    .bg_BoxCG{
        background-color: #D4E8D2;
    }
    .border_black{
        border-color:#d5dfd5;
    }
</style>
