{% extends 'base.html' %}


{% block content %}
{% include 'partials/navbar.html' %}


<div>
        <img src="https://i.ibb.co/PN08MJt/Pic.png" class="w-full" alt="Logo" />
</div>
<div>
    <h1 class="text-black px-10">About Us</h1>
    <p class="text-black px-10">Revolutionize energy distribution with our innovative system! Predicting loads and distributing energy through a unique bidding process powered by blockchain technology. Join us in shaping a sustainable future!</p>
</div>

{% include 'partials/footer.html' %}
{% endblock content %}