{% extends 'base.html' %}


{% block content %}
{% include 'partials/navbar.html' %}


<div>
        <img src="https://i.ibb.co/PN08MJt/Pic.png" class="w-full" alt="Logo" />
</div>
<div style="margin: 28px;">
    <br>
    <h1 style="font-size: 24px; font-weight: bold; color: black; padding: 8px;">About Us</h1>
    <p style="font-size: 16px; color: black; padding: 10px;">
        Revolutionize energy distribution with our innovative system! Our platform leverages advanced analytics to accurately predict energy loads, optimizing the distribution process across networks. By utilizing a unique bidding process powered by blockchain technology, we ensure transparency, security, and efficiency in every transaction.
    </p>
    <p style="font-size: 16px; color: black; padding: 10px;">
        Our commitment extends beyond simple energy distribution. We're dedicated to promoting sustainable practices, reducing carbon footprints, and supporting the growth of renewable energy sources. This commitment is woven into every layer of our operations, aiming to create not just a smarter energy grid, but a cleaner, more sustainable environment for future generations.
    </p>
    <p style="font-size: 16px; color: black; padding: 10px;">
        Join us in shaping a sustainable future! Be part of the change that transforms the energy landscape and paves the way for a greener, more resilient world.
    </p>
    <br>
</div>


{% include 'partials/footer.html' %}
{% endblock content %}