{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="bg_LG min-h-screen flex items-center justify-center">
    <div class="w-full  grid grid-cols-2">
        <div class="col-span flex items-center justify-left">
          <div>
            <img class="w-full h-full object-cover" src="https://i.ibb.co/N7dvDyM/PIC-4.png" alt="login_pic">

          </div>
        </div>
        <div class="flex col-span-1 items-center justify-center">
            <div class=" p-6 space-y-4">
                <h1 class="text_G text-5xl font-bold leading-tight tracking-tight">
                Welcome Back
                </h1>
                <form class="space-y-4 " method="POST">
                {% csrf_token %}
                <div>
                    <label for="email" class="text_G block mb-2 text-sm font-medium">Email</label>
                    <input type="email" name="email" id="email" class="text_G bg_BoxLG border border_black text-gray-900 sm:text-sm rounded-lg focus:ring-emerald-600 focus:border-emerald-600 block w-full p-2.5  dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500" placeholder="name@gmail.com" required>
                </div>
                <div>
                    <label for="password" class="text_G block mb-2 text-sm font-medium">Password</label>
                    <input type="password" name="password" id="password" placeholder="••••••••" class="bg_BoxLG border border_black text-gray-900 sm:text-sm rounded-lg focus:ring-emerald-600 focus:border-emerald-600 block w-full p-2.5  dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500" required>
                </div>
                <div class="flex items-center justify-between">
                    <div class="flex items-start">
                    <div class="flex items-center h-5">
                        <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border_black rounded bg-gray-50 focus:ring-3 focus:ring-emerald-300 dark:bg-gray-700  dark:focus:ring-emerald-600 dark:ring-offset-gray-800">
                    </div>
                    <div class="ml-3 text-sm">
                        <label for="remember" class="text_G">Remember me</label>
                    </div>
                    </div>
                    <a href="#" class="text-sm font-medium text_G hover:underline text_G">Forgot password?</a>
                </div>
                <button type="submit" class="w-full text_LG bg_G hover:bg_LG focus:ring-4 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center  dark:focus:ring-emerald-800">Log in</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
